.ipynb_checkpoints/ 
Thème 7 - Algorithmique/Algorithmes gloutons/.~lock.spectacle_decoupage_rectangles_avec_incompatibilites.xls#
Thème 7 - Algorithmique/Algorithmes gloutons/.log
Thème 7 - Algorithmique/Algorithmes gloutons/.log
Thème 2 - Représentation des données : types construits/Listes/.log
